/* You can add global styles to this file, and also import other style files */
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(66, 66, 66);
  color: #fff;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.mat-focus-indicator::before {
  border: none;
}
* {
  box-sizing: border-box;
}
